<form id="formularioAdopcion">
  <div class="form-group">
    <label for="email">Correo electrónico </label>
    <input type="email" class="form-control" name="email" id="email" placeholder="example@duoc.cl" required>
  </div>
  <div class="form-group">
    <label for="Run">Run</label>
    <input type="text" class="form-control" name="run" id="Run" placeholder="Run" required maxlength="12">
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre Completo</label>
    <input type="text" class="form-control" name="nombre" id="Nombre" placeholder="Nombre Apellido" required>
  </div>
  <div class="form-group">
    <label for="Run">Fecha de Nacimiento</label>
    <input type="text" class="form-control" name="fecha_nacimiento" id="fecha_nacimiento" placeholder="01/01/1990"
      required>
  </div>
  <div class="form-group">
    <label for="Telefono">Teléfono de contacto</label>
    <input type="number" class="form-control" name="telefono" id="Telefono" placeholder="123456789">
  </div>
  <div class="form-group">
    <label for="region">Región</label>
    <select required name="region" id="region" class="form-control">
      <option>-- Selecione --</option>
    </select>
  </div>
  <div class="form-group">
    <label for="ciudad">Ciudad</label>
    <select disabled required name="ciudad" id="ciudad" class="form-control">
      <option value="0">-- Selecione --</option>
    </select>
  </div>

  <div class="form-group">
    <label for="tipo_vivienda">Tipo de Vivienda</label>
    <select required name="tipo_vivienda" id="tipo_vivienda" class="form-control">
      <option value="0">-- Selecione --</option>
    </select>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script>
  $(function () {

    //e9c7e4860f881f2fa6d870566328a112a22b6508
    $.ajax({
      method: "get",
      url: 'http://api.beta.datos.gob.cl/api/v2/datastreams/ID-REGIO-Y-COMUN/data.json/?auth_key=e9c7e4860f881f2fa6d870566328a112a22b6508'
    }).done(function (response) {
      console.log(response.result.fArray);
    })
      .fail()
  });

  $.validator.addMethod("frun", function (value, element) {
    return this.optional(element) || /^0*(\d{1,3}(\.?\d{3})*)\-?([\dkK])$/.test(value);
  }, "Debe ingresar un formato de run valido");

  $.validator.addMethod("justtext", function (value, element) {
    return this.optional(element) || /^[a-zA-Z ]/.test(value);
  }, "Debe ingresar solo texto");

  $("#formularioAdopcion").validate({
    rules: {
      email: {
        required: true,
        email: true
      },
      run: {
        required: true,
        frun: true,
        max:12
      },
      nombre: {
        required: true,
        justtext: true
      },
      fecha_nacimiento: {

        required: true,
      },
      telefono: {
        number: true
      },
      region: {
        required: true,
        min: 1
      },
      ciudad: {
        required: true,
        min: 1
      },
      tipo_vivienda: {
        required: true,
        min: 1
      }
    }
  });

</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">